# Directories
**/.idea
**/.gradle
**/build
**/local
**/.kotlin
**/release
.DS_Store
local.properties
production.environment.chamaleon.json

# iOS
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings