# Build
.gradle
.kotlin
**/release
**/build/
!src/**/build/

# Local development
**/local/
local.properties
production.environment.chamaleon.json

# IntelliJ
.idea

# XCode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Misc
.DS_Store