# Build
.kotlin
.gradle
**/build/
!src/**/build/

# Local
**/local/
local.properties
production.environment.chamaleon.json
staging.environment.chamaleon.json

# IntelliJ
.idea

# XCode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Misc
.DS_Store
java_*