name: Deploy

on:
  push:
    branches:
      - production

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.ref_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup-action

      - name: Generate server app environment
        run: |
          ./gradlew :server:services:app:generateEnvironment -Penvironment="${{ env.BRANCH_NAME }}(jvm[IMAGE_NAME=service-app-${{ env.BRANCH_NAME }},IMAGE_PORT=8080,IMAGE_TAG=${{ github.sha }},REGISTRY_LOCATION=ghcr.io/${{ github.repository }},REGISTRY_USERNAME=${{ github.actor }},REGISTRY_PASSWORD=${{ secrets.GITHUB_TOKEN }}])"

      - name: Select server app environment
        run: |
          ./gradlew :server:services:app:selectEnvironment -PnewSelectedEnvironment=${{ env.BRANCH_NAME }}

      - name: Publish server app image
        run: |
          ./gradlew :server:services:app:publishImage

      - name: Generate client home environment
        run: |
          ./gradlew :client:apps:home:generateEnvironment -Penvironment="${{ env.BRANCH_NAME }}(jvm[IMAGE_NAME=client-home-${{ env.BRANCH_NAME }},IMAGE_PORT=8080,IMAGE_TAG=${{ github.sha }},REGISTRY_LOCATION=ghcr.io/${{ github.repository }},REGISTRY_USERNAME=${{ github.actor }},REGISTRY_PASSWORD=${{ secrets.GITHUB_TOKEN }}])"

      - name: Select client home environment
        run: |
          ./gradlew :client:apps:home:selectEnvironment -PnewSelectedEnvironment=${{ env.BRANCH_NAME }}

      - name: Publish client home image
        run: |
          ./gradlew :client:apps:home:publishImage

      - name: Setup app files
        run: |
          mkdir -p ./client/apps/user/core/local
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > ./client/apps/user/core/local/production-keystore.jks &
          wait

      - name: Generate client user environment
        run: |
          ./gradlew :client:apps:user:core:generateEnvironment -Penvironment="production(android[KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }},KEY_ALIAS=${{ secrets.KEY_ALIAS }},KEY_PASSWORD=${{ secrets.KEY_PASSWORD }},KEYSTORE_PATH=local/production-keystore.jks,IS_DEBUG=false,PROTOCOL=https,HOST=${{ secrets.HOST }}]:native[IS_DEBUG=false,PROTOCOL=https,HOST=${{ secrets.HOST }}])"

      - name: Select client user environment
        run: |
          ./gradlew :client:apps:user:core:selectEnvironment -PnewSelectedEnvironment=production

      - name: Build client user image
        run: |
          ./gradlew :client:apps:user:core:assembleRelease