name: Deploy

on:
  push:
    branches:
      - production

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.ref_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup-action

      - name: Generate server environment
        run: |
          ./gradlew :server:services:app:generateEnvironment -Penvironment="${{ env.BRANCH_NAME }}(jvm[IMAGE_NAME=app-${{ env.BRANCH_NAME }},IMAGE_PORT=8080,IMAGE_TAG=${{ github.sha }},REGISTRY_LOCATION=ghcr.io/${{ github.repository }},REGISTRY_USERNAME=${{ github.actor }},REGISTRY_PASSWORD=${{ secrets.GITHUB_TOKEN }}])"

      - name: Select server environment
        run: |
          ./gradlew :server:services:app:selectEnvironment -PnewSelectedEnvironment=${{ env.BRANCH_NAME }}

      - name: Publish server image
        run: |
          ./gradlew :server:services:app:publishImage

      - name: Setup app files
        run: |
          mkdir -p ./client/apps/user/core/local
          echo "${{ secrets.GOOGLE_SERVICES_BASE64 }}" | base64 -d > ./client/apps/user/core/google-services.json &
          echo "${{ secrets.SERVICE_ACCOUNT_CREDENTIALS_BASE64 }}" | base64 -d > ./client/apps/user/core/service-account-credentials.json &
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > ./client/apps/user/core/local/production-keystore.jks &
          wait

      - name: Generate client environment
        run: |
          ./gradlew :client:app:generateEnvironment -Penvironment="production(android[KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }},KEY_ALIAS=${{ secrets.KEY_ALIAS }},KEY_PASSWORD=${{ secrets.KEY_PASSWORD }},KEYSTORE_PATH=local/production-keystore.jks,IS_DEBUG=false,PROTOCOL=https,HOST=${{ secrets.HOST }}]:native[IS_DEBUG=false,PROTOCOL=https,HOST=${{ secrets.HOST }}])"

      - name: Select client environment
        run: |
          ./gradlew :client:app:selectEnvironment -PnewSelectedEnvironment=production

      - name: Publish client image
        run: |
          ./gradlew :client:app:assembleRelease appDistributionUploadRelease --serviceCredentialsFile="./client/apps/user/core/service-account-credentials.json" --testers="${{ secrets.TESTER_EMAIL }}"